@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Raleway:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Source+Serif+Pro:wght@700&display=swap');
* {
    box-sizing: border-box;
  }

  @media screen and (max-width: 1024px) {
    

   

  }

  
  @media screen and (max-width: 500px) {
    

    #content {
    height: fit-content;
    
    }


  }
  


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}





/*
 * Base structure
 */
 html {
    height: 100%;
    background-color: aqua;
  }


body {
  position: relative;
  box-sizing: border-box;
  display: block;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}



header {
  
  margin-left: auto;
  margin-right: auto;
  max-width: 100em;
  height: fit-content;
}

/*
 * Header
 */

 .nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
    margin-bottom: 2rem;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  
  footer {
      padding: .75rem;
      color: white;
      text-align: center;
      font-size: .75rem;
      display: flex;
      flex-direction: column;
    }
  
  .cover-container{
      background-image: linear-gradient(rgba(20, 20, 20, 0.575), rgba(24, 23, 23, 0.664)), url("https://images.pexels.com/photos/168441/pexels-photo-168441.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      background-repeat:no-repeat;
      background-size:cover;
      display: block;
      
    }
  
  
  /* ESPACIOS */

  .card {
    color: white;
    height: 4rem;
    height: fit-content;
  }
  
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    margin-top: 4rem;
  }

  .wrap{
    overflow: auto;
  }
  
  /* Screen larger than 600px? 2 column */
  @media (min-width: 600px) {
    .wrapper { grid-template-columns: repeat(2, 1fr); }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .wrapper { grid-template-columns: repeat(3, 1fr); }
  }
  

  /* scrollbar */

  ::-webkit-scrollbar {
    /* width */
    width: 12px;
}

::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: #75b8f8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: #75b8f8;
}

::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: #b2bdc4;
}
