.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-left: 1.5rem;
    padding-right: 0rem;
    margin-right: 0rem;
    margin-left: 5rem;
}

div .fila1{
    display: flex;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    column-gap: 3rem;
    justify-content: center!important;
    text-align: center!important;
    justify-items: center;

}

div .fila2{
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    column-gap: 10rem;
    justify-content: center!important;
    text-align: center!important;
    width: 100%;
}

@media screen and (max-width: 1000px){
    .fila1{
        flex-wrap: wrap;
        
    }
}

@media screen and (max-width: 1000px){
    div.card {
        width: 50rem;
	    margin: 0 auto;
        background-color: rgb(225, 226, 218);
        border-radius: 1%;
        margin-top: 4rem;
        margin-right: 10rem;
        margin-left: 20rem;
        
    }

    img.card-img-top{
        width: 100%;
        height: 20rem;
        border-radius: 1%;
    }

}


@media screen and (max-width: 1200px){
.grafico2 {
    flex: 0 0 33.33333%;
    max-width: 23.33333%;
}

}

@media screen and (max-width: 992px){
    .grafico2 {
    flex: 0 0 31.66667%;
    max-width: 31.66667%;
}

    .respuesta{
    margin-top: 1rem;
}

    

}

.grafico2{
    position: relative;
    width: 10rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

@media screen and (max-width: 2000px){
    
    .relleno{
        width: 40rem;
        margin-right: 1rem;
    }

    div.card {
        width: 60rem;
    }
    

}








@media screen and (max-width: 1440px){
    .grafico2 {
        width: 33.3333333333%;
    }

    .relleno{
        width: 40rem;
        margin-right: 1rem;
    }

    div.card {
        width: 60rem;
    }

}

@media screen and (max-width: 1200px){
    .grafico2 {
        width: 23.3333333333%;
    }       

    div.card {
        width: 55rem;
    }

    .relleno{
        width: 30rem;
        margin-right: 1rem;
    }
}
@media screen and(max-width: 1200px){
    .grafico2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .relleno{
        width: 30rem;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 992px){
    .grafico2{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    div.card {
        width: 50rem;
    }
}

@media screen and (max-width: 992px){
.grafico2 {
    width: 41.6666666667%;
}
#intro{
    height: 180vh;
}   
}

@media screen and (max-width: 600px){
    .relleno{
    width: 20rem;
    margin-right: 1rem;
    font-size: 0.6rem;
    }

    div.card {
        width: 45rem;
        justify-content: center;
        margin-left: 1rem;
    }
    
}


@media screen and (max-width: 400px){
    .relleno{
    width: 15rem;
    margin-right: 1rem;
    font-size: 0.6rem;
    }

    div.card {
        width: 45rem;
        justify-content: center;
        margin-left: 1rem;
    }
    
}

.relleno {
    margin: 0 auto;
    background-color: rgb(225, 226, 218);
    border-radius: 1%;
    margin-top: 4rem;
}

.relleno{
    margin-bottom: 1.5rem!important;
}
.relleno {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.relleno {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}

h6.tituloG{
    color: #4e73df!important;
    font-weight: 800;
}

.header-card {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    align-items: center!important;
    padding-top: 1rem!important;
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}

.car-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    justify-content: center!important;
    text-align: center!important;
}
.car-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: #E1E2DA;
    justify-content: center!important;
    text-align: center!important;
}

.nav-item .input-group .form-outline {
    margin-left: 1rem;
}

div .response{
    display: flex;
    text-align: center;
    width: 70%;
    height: 43rem;
    background-color: #ffffff;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),rgba(247, 247, 247, 0.5));
    position:absolute;
    border-radius: 1%;
}

div.respuesta{
    width: 100%;
}

div.card {
	margin: 0 auto;
    background-color: rgb(225, 226, 218);
    border-radius: 1%;
    margin-top: 4rem;
}

img.card-img-top{
    width: 100%;
    height: 20rem;
    border-radius: 1%;
}

h2.card-subtitle{
    font-style:italic;
}

p.population{
    text-align: center;
    font-weight: 800;
    margin-bottom: 0rem;
}

p.weight{
    text-align: center;
    font-weight: 800;
    margin-bottom: 0rem;
}

h2#bigtitle{
    font-family: Roboto;
    font-weight: 300;
    color:rgb(94, 191, 230);  
    font-size: 3rem;
    text-align: center;
}


h2.lista{
    font-family: Roboto;
    font-weight: 300;
    color:white;  
    font-size: 5rem;
    text-align: center;
    animation-delay: 0.3s;
}

h2.lista2{
    font-family: Roboto;
    font-weight: 800;
    font-size: 5rem;
    color:white;
    font-style: italic;
    text-align: center;
    animation-delay: 0.3s;
}

h2.lista2:hover{
    color: #3e5cb8;
    text-decoration: none;
}


table{
    display:block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-left: 2rem;
}



#graph {
    height: 200px;
    max-width: 500px;
    margin: 0 auto;
}
#graph td .data {
transition-duration: 0.6s;
transform: scale(0);
position: relative;
bottom:1.5rem;
}
#graph td:hover .data {
transform: scale(1);
color:black;
}
  

#graph2 {
  height: 300px;
  max-width: 500px;
  margin: 0 auto;
}

#graph2 td .data2{
    transform: rotate(90deg);
    color:rgb(12, 10, 10);
    position: relative;
    left:1.5rem;
}
  

#graph2 td {
  background-image: linear-gradient(
    45deg,
    #45b9e7,
    #2570b6,
    #2838c9,
    #47c7ee,
    #31d6bb,
    #3bdd9a
  );
  background-size: 600%;
  animation: gradient-animation 3s linear infinite alternate;
}
@keyframes gradient-animation {
  0%   { background-position:   0%; }
  100% { background-position: 100%; }
}


a:hover {
    color: #224abe;
    text-decoration: underline;
}
.dropdown-toggle {
    white-space: nowrap;
}
[role=button] {
    cursor: pointer;
}

.dropbtn {
  background-color: #F8F9FC;
  color: rgb(175, 175, 175);
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #cfd1cf;
}

:root{
    --animate-delay: 3.5s;
  }